@font-face {
	font-family: Roboto;
	src: url("assets/fonts/Roboto-Regular.ttf");
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	background-color: #ebebeb;
}

header {
	background-color: #ffffff;
}

.twocolumns {
	display: flex;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border: 1px solid black;
}

.nav {
	height: 55px;
	background-color: #0b1d4e;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-list {
	list-style: none;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	color: #f1f3f5;
	text-decoration: none;
}

.section {
	padding: 0 20px 10px 20px;
}

.column1 {
	display: flex;
	flex-direction: column;
	width: 40%;
	background-color: #0b1d4e;
}

.column1 {
	color: #ffffff;
}

.my-photo {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
}

.languages {
	padding-left: 30px;
}

.section-contacts li {
	list-style: none;
}

.column1 h2 {
	color: #918381;
}

.block2 {
	display: flex;
	flex-direction: column;
	width: 60%;
	background-color: #ffffff;
	color: #343a40;
}

.block2 .section:first-child {
	text-align: center;
	padding-bottom: 45px;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #b4b3b3;
}

.footer a {
	text-decoration: none;
	color: black;
}

.section li {
	margin-bottom: 10px;
}

.section li a {
	text-decoration: none;
	color: black;
}

.section a:hover {
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

h2 {
	color: #574846;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	font-size: 24px;
	display: block;
	margin: 0;
}

h1 {
	font-size: 50px;
}

p {
	margin: 10px;
}