@font-face {
	font-family: Roboto;
	src: url("assets/fonts/Roboto.ttf");
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto';
	font-size: 20px;
}
.nav {
	background: #274581;
}

.twoblocks {
	display: flex;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.nav {
	height: 50px;
}

.nav-list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-list {
	list-style: none;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
	color: #FFFFFF;
	text-decoration: none;
}

.block1 {
	display: flex;
	flex-direction: column;
	width: 40%;
	background-color: #0A2B53;
	color: white;
}

.block1 img {
	margin: 0 auto;
}

.section-contacts li {
	list-style: none;
}

.block2 {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.footer {
	background-color: #274581;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer a {
	text-decoration: none;
	color: black;
}

.section li {
	margin-bottom: 10px;
}

.section li a {
	text-decoration: none;
	color: black;
}